.header {
  display: flex;
  .header-inner {
    .header-logo {
      margin: 10px 20px;
      width: 161px;
    }
  }
}
@media (min-width: 768px) {
  .header-inner {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .header-inner {
    width: 1024px;
  }
}