.content-block {

  line-height: 1.7rem;

  a {
    color: #3e72ff;
    outline: none;
    text-decoration: none;
  }

  a:focus,
  a:hover,
  a:active,
  a:visited,
  a.active {
    //color: #3e72ff;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5em;
    margin-top: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .8rem;
  }

  p {
    margin: 0 0 1.2rem;
  }

  ul,
  ol {
    margin: 1rem 0 1rem 1rem;
    padding: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: .8rem 0 .8rem .8rem;
  }

  ul li,
  ol li {
    margin-top: .5rem;
  }

  ul {
    list-style: disc inside;
  }

  ul ul {
    list-style-type: circle;
  }

  ol {
    list-style: decimal inside;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin: 1rem;
  }

  form label {
    display: inline-flex;
  }

  form input {
    margin: 0 1rem 0 0;
    width: 16px;
  }
  .block-banner {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px;
    background-color: #3e72ff;
    border-radius: 12px;
    margin-bottom: 1rem;
    color: #fff;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: -5px 5px 20px #b6b6b6;
      translate: 3px -3px;
    }
    h4 {
      font-size: 0.92rem;
      font-weight: 700;
    }
    p {
      color: #fff;
      font-size: 0.8rem;
      line-height: normal;
      margin: 0;
    }
    @media (min-width: 425px) {
      h4 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

.content-block-test {
  border: 1px solid #737475;
  padding: 15px;
}