.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.header, footer {
  display: flex;

  .header-logo, .footer-logo {
    margin: 10px 20px;
    width: 161px;
  }
  .footer-logo {
    opacity: 50%;
  }
}
.page-hero {
  background: #f2f4fc;
  padding: 40px 20px;

    .page-hero-inner {
      text-align: center;
    }
  
    h1 {
      margin: 0 0 20px 0;
      font-size: 28px;
    }

    p {
      margin: 20px 0 35px 0;
      font-size: 15px;
      line-height: 21px;
    }
}
.main-content {
  padding: 40px 20px;
}
.courses-list-inner, .course-header-inner {
  display: flex;
  flex-direction: column;

    h2 {
      margin: 0;
      font-size: 24px;
    }

    a, a:hover, a:active, a:visited {
      text-decoration: none;
      color: #212730;
    }

    .courses-list-item-inner, .course-header-item {
      text-align: left;
      height: 300px;
      border-radius: 6px;
      box-shadow: 0 3px 15px #f0f0f0;
      margin: 20px 0 0 0;
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        font-size: 18px;
      }

      .item-cover {
        position: relative;
        display: flex;
        flex-basis: 60%;
      }

      .item-description {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        justify-content: space-between;
        padding: 20px;

          .item-lessons-number {
            font-size: 15px;
          }
      }
      
      .item-badge {
        position: absolute;
        background: #eaf0fe;
        padding: 7px 15px;
        line-height: 12px;
        border-radius: 6px 0 0 0;

        span {
          font-size: 12px;
          color: #2963ff;
        }
      }

    }
}
main .back-link {
  text-align: left;
  margin: -20px 0 30px 0;
  a {
    text-decoration: none;
    color: #212730;
    font-size: 14px;
    
    &:hover {
      color: #737475;;
    }
    &::before {
      content: '< ';
    }
  }
}
//style modifiers
.button-blue {
  background: #2963ff;
  color: #fff;
  &:hover {
    background:#3e72ff;
  }
}
.inactive {
  position: relative;
  box-shadow:inset 0px 0px 0px 2px #eaf0fe !important; 
}
.inactive::before {
  content: 'Скоро';
  display: block;
  margin: auto;
  position: absolute;
  z-index: 9999;
  top: 0; 
  right: 0;
  width: fit-content;
  height: fit-content;
  background: #c1ff25;
  padding: 10px 20px;
  line-height: 16px;
  border-radius: 0 6px 0 0;
  color: rgb(60, 60, 60);
  font-size: 16px;
  font-weight: 400;
}
.inactive::after {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.6);
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 425px) {
  .page-hero {
    .page-hero-inner {
      width: 75%;
      margin: 0 auto;
    }
    .button {
      width: 250px;
    }
  }
}

@media (min-width: 768px) {
  
  .header-inner, .footer-inner {
    width: 768px;
    margin: 0 auto;
  }

  .page-hero {
    padding: 60px 20px;

    .page-hero-inner {
      width: 728px;
      margin: 0 auto;
      text-align: left;
      position: relative;

      h1 {
        font-size: 32px;
        width: 50%;
      }

      p {
        width: 50%;
        font-size: 16px;
        line-height: 23px;
        margin: 30px 0 40px 0;
      }

      .page-hero-pic {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
      }
    }
  }
  .main-content {
    width: 728px;
    margin: 0 auto;
  }
  .courses-list-inner {
    flex-direction: row;
    

    .courses-list-item {
      width: 50%;
    }
    .courses-list-item:not(.courses-list-item:last-child) {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .header-inner, .footer-inner {
    width: 1024px;
  }

  .page-hero {
    .page-hero-inner {
      width: 984px;

      h1 {
        font-size: 36px;
      }

      p {
        margin: 40px 0 112px 0;
        width: 45%;
      }
    }
  }

  .main-content {
    width: 984px;
  }
}