.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 30px;

}
.online {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background: black;
  &_true{
    background: #04e525;
  }
}
